<!DOCTYPE html>
<html>

<head>
    <title>LettuceLetterRunningGame</title>
</head>

<body>
    <header class="header">
        <h1>Laufende Spiele</h1> 
    </header>

    <div class="main">
        <table border="1">
                <tr>
                    <th>Spiel</th>
                    <th>Runde</th>
                    <th>Teilnehmen?</th>
                </tr>

                <%for(var i = 0; i < games.length; i++) {%>
                <tr>
                    <td><%=games[i].id%></td>
                    <td><%=games[i].roundsplayed%></td>
                    <td>Button play wenn aktiv</td>
                </tr>
                <%}%>
        </table>
    </div>
</body>

</html>
