<!DOCTYPE html>
<html>
    <head>
        <title>Runde 1</title>

        <!-- Style CSS implementieren-->
		<link rel="stylesheet" href="chat.css">
    </head>
    <body>
        <h1>Neues Spiel!</h1>
        <h2>Was soll gezeichnet werden?</h2>

        <form action="/Runde1" method="POST">
            Was sollen deine Mitspieler zeichnen ? <br>
            <input type="text"  name="wasZeichnen1"><br><br>
            <button type="submit" class='primaryContained float-right'>fertig</button>
        </form> 
    </body>
</html>