<!DOCTYPE html>
<html>
    <head>
        <title>Lettuce Letter</title>

        <!-- Style CSS implementieren-->
		<link rel="stylesheet" href="chat.css">
    </head>
    <body>
        <h2>In welches Game willst du einsteigen?</h2> <!--hier Liste der aktiven Games einfügen-->
        <form action="/showRound" method="POST">
            <input type="number" name="input_gameID">
            <button type="submit" class='primaryContained float-right'>Game</button>
        </form>

    </body>
</html>