<!DOCTYPE html>
<html>
    <head>
        <title>LoginErfolgreich</title>

        <!-- Style CSS implementieren-->
		<link rel="stylesheet" href="chat.css">
    </head>
    <body>
        <h2>Herzlich Willkommen !</h2>
        <p>
            Schön dich zu sehen
            <%= benutzername %>
        </p>

        <p> Wenn du Spielen möchtest: <br>
            <form action="/playAngemeldet" method="POST">
                <button type="submit" class='primaryContained float-right'>Spielen Neu</button>
            </form> 
            <form action="/playLaufend" method="POST">
                <button type="submit" class='primaryContained float-right'>Laufende Runde</button>
            </form>

        </p>                res.send("Willkommen " + param_usernameInput);


    </body>
</html>
