<!DOCTYPE html>
<html>
    <head>
        <title>LoginErfolgreich</title>
    </head>
    <body>
        <h2>Herzlich Willkommen !</h2>
        <p>
            Schön dich wiederzusehen
            <%= benutzername %>
        </p>

        <p> Wenn du Spielen möchtest: <br>
            <form action="/playAngemeldet" method="POST">
                <button type="submit">Spielen</button>
            </form> 

        </p>

    </body>
</html>
