<!DOCTYPE html>
<html>
    <head>
        <title>LoginErfolgreich</title>

        <!-- Style CSS implementieren-->
		<link rel="stylesheet" href="chat.css">
    </head>
    <body>
        <h2>Herzlich Willkommen !</h2>
        <p>
            Schön dich wiederzusehen
            <%= benutzername %>
        </p>

        <p> Wenn du Spielen möchtest: <br>
            <form action="/playAngemeldet" method="POST">
                <button type="submit" class='primaryContained float-right'>Spielen Neu</button>
            </form> 
            <form action="/showRound" method="POST">
                <input type="number" name="input_gameID">
                <button type="submit">Laufende Runde</button>
            </form>

        </p>

    </body>
</html>
