<!--TODO Prototyp, PlayButton mit Abfrage ob PlayerInt
-->
<!DOCTYPE html>
<html>
    <head>
        <title>LettuceStart</title>

        <!-- Style CSS implementieren-->
		<link rel="stylesheet" href="chat.css">
    </head>
    <body>

        <h1>Herzlich Willkommen bei LettuceLetter </h1>
        <br>

            <img src="lettuce2.jpg" alt="lettuce" width="200" height="280">
        <br>
         
        
        <form action="/login" method="GET">

            <button type="submit" class='primaryContained float-right'>Login</button>

        </form> 
        <br>
        <form action="/register" method="GET">

            <button type="submit" class='primaryContained float-right'>Registrieren</button>

        </form>
        <br>
        <br>
        
        <!-- Quick Galerie -->

        <h3> Beispiele aus den letzten Spielen </h3>
        <br>
        <a href="/bildzeigen"><button type="button" class='primaryContained float-right'>Galerie</button></a>



    </body>

</html>
