<!--TODO Prototyp, PlayButton mit Abfrage ob PlayerInt
-->
<!DOCTYPE html>
<html>
    <head>
        <title>Start</title>
    </head>
    <body>

        <h1>Herzlich Willkommen bei LettuceLetter </h1>
        <form action="/play" method="POST">

            <button type="submit">Play</button>

        </form> 
        <form action="/login" method="GET">

            <button type="submit">Login</button>

        </form> 
        <form action="/register" method="GET">

            <button type="submit">Registrieren</button>

        </form> 
        <!--
        <form action="/gallery" method="POST">

            <button type="submit">Alte Spiele</button>

        </form> 
        -->

    </body>

</html>
