<!DOCTYPE html>

<html>

<head>
    <title>LettuceLetter</title>
</head>

<body>

    <header class="header">
        <h2>Gib ein, was du siehst</h2>
    </header>

    <div class="main">
        <form action="/postText" method="POST">
            <table>
                <tr><td><></td> <!-- Bild der entsprechenden Runde anzeigen-->
                <tr><td><input type="text" name="textInput"></td> <!--Variable finden für wo das eingefügt wird?-->
                <tr><td><button type="submit">Speichern</button></td></tr>
            </table>
        </form>
    </div>
</body>

</html>
